@{
    ViewBag.Title = "Customer Info";
}

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Goto Customer Info</a></li>
        <li><a href="#tabs-2">Goto Generated Keys</a></li>
    </ul>
    <div id="tabs-1">

        <p>Input Customer Info:</p>


        @using( Html.BeginForm( "test", "Home", FormMethod.Get ) ) )
        {


            Enter Customer ID: <input type="text" name="custId" />
            <br /><br />
            Enter Number of Keys: <input type="number" name="custNum" /> * Only Digitals Allowed!
            <br /><br />
            <input type="submit" value="Согласен." /><br />
        }

    </div>
    <div id="tabs-2">
        <p>Generated Keys:</p>
    </div>
</div>